<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<head>
<meta charset="UTF-8"></meta>
</head>
<body class="text-center">
	<div th:fragment="home_contents">
		<div class="page-header">
			<h3 id="date_home"></h3>
			<h1 id="time_home"></h1>

			<!--  リアルタイム表示-->
			<script>
			function showtime(){
  				var today = new Date();
  				$weekday = ['日','月','火','水','木','金','土'];
  				month = today.getMonth() + 1 ;
  				$('#date_home').html(month + "月"+ today.getDate() + "日(" + $weekday[today.getDay()] +")");
  				$('#time_home').html(today.getHours() + ":"+ ('0'+today.getMinutes()).slice(-2) + ":" + ('0' +today.getSeconds()).slice(-2));
			}setInterval(showtime,1000);
			</script>

			<!-- 打刻・修正ボタン -->
			<form method="post" th:action="@{/home}">
				<br>
				<button class="btn btn-primary" type="submit" name="stamping">
					打刻</button>
				<!-- <button class="btn btn-primary" type="submit" name="todayCorrect">
					修正</button> -->
			</form>
			<br>


			<!-- 8秒ぐらいで打刻した際のメッセージ消す（スローになってない気が・・・jqueryのバージョンが古いからかも） -->
			<script>
			$(function(){
  				$(".text-danger:not(:animated)").fadeIn("slow",function(){
    				$(this).delay(8000).fadeOut("slow");
  				});
			});
		</script>

			<!-- 打刻した際のメッセージ -->
			<span class="text-danger" th:if="${str != null}">
				<p th:text="${str}">
			</span>

		</div>
	</div>
</body>
</html>
